@tailwind base;
@tailwind components;
@tailwind utilities;

.bolinha {
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.2s ease;
  }
  
  